<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>

    <h2>Update Password</h2>

    <form >
        <input id="password"  name="password" placeholder="Enter new password" required/>
        <br><br>
        <button onclick="handleSubmit(event)" type="submit">Update Password</button>

        <!-- <p> <%= token %> </p> -->

        <script>
            let token = '<%= token %>'
            console.log(token)

            let passwordTag = document.getElementById('password')

            async function handleSubmit(e){
                e.preventDefault();
                let obj = {
                    password:passwordTag.value
                }
                console.log(obj)

                let res = await fetch(`http://localhost:8090/users/updatepassword/${token}`,{
                    method:"put",
                    headers:{
                        'content-type':'application/json'
                    },
                    body:JSON.stringify(obj)
                })

                let data = await res.json();
                console.log(data)
                alert(data.msg)
            }
        </script>
    </form>

</body>
</html>